<!DOCTYPE html>
<html th:replace="~{layoutFile :: layout('Doctors List', ~{::section})}">

<section>
    <main class="container">


        <p> Welcome to Doctors Page</p>
        <hr/>
        <form action="/doctors" method="get">
            <label for="search">Search: </label>
            <input type="search" id="search" name="search"/>
            <button type="submit">Search</button>
        </form>

        <th:block th:if="${search!=null && !search.isBlank()}">
            <span>Search text: <i th:text="${search}"></i></span> &nbsp; &nbsp;
            <a th:href="@{/templates/doctors}" class="btn btn-sm btn-primary">Clear Search</a>
        </th:block>



        <hr/>
        <p th:unless="${doctors.size()>0}">No doctors found</p>

        <table class="table table-striped" th:if="${doctors.size()>0}">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Speciality</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor : ${doctors}" th:object="${doctor}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{surname}"></td>
                <td th:text="*{phone}"></td>
                <td th:text="*{address}"></td>
                <td th:text="*{speciality}"></td>
                <td>
                    <a th:href="@{/doctors/{id}(id=*{id})}" class="btn btn-sm btn-primary">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</section>
</html>

















